#uploader {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
  padding: 1rem;
  min-height: 450px;

  border-radius: 5px;
  border: black 6px dashed;
}

#status-wrapper {

  margin-top: 2em;


  .progress-wrapper {
    display: flex;

    progress {
      width: 100%;
      display: flex;
      align-self: center;
      margin-bottom: 0.5rem;
    }

  }

  textarea {
    width: 100%;
    min-height: 150px;
  }

  h3 {
    margin-bottom: 1rem;
  }


}

.output-area {
  display: none;

  &.show {
    display: block;
  }
}